/* import google font  */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-section {
    width: 100%;
    height: 450px;
    background-color: black;
    display: flex;
}

.left-header {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.left-header img {
    width: 90%;
}

.header-title {
    color: #FF5E19;
    text-align: center;
    font-family: 'Berkshire Swash', serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.header-paragraph {
    color: white;
    width: 93%;
    height: 30%;
    margin: 0px auto;
    text-align: justify;
    padding-top: 20px;
    line-height: 1.3em;

}

.middle-header {
    width: 55%;
    display: flex;
    align-items: center;
}

.middle-inner-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-header {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.football-net {
    height: 100px;
}

.kissing-cup {
    height: 150px;
    position: relative;
    margin-right: 120px;
    margin-bottom: 100px;
}

.logo {
    border-radius: 50%;
    position: relative;
    width: 55px;
    height: 55px;
    margin-right: 225px;
    margin-bottom: -40px;
    z-index: 1;
}

.main-body {
    background-color: #151515;
    border-bottom: 2px solid #015196;
}

.main-section {
    width: 85%;
    margin: 0px auto;
    padding: 60px 0px 60px;
    display: flex;
    gap: 15px;

}

.card-secton {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.calculating-section {
    width: 25%;
    margin-left: 15px;
}

.card {
    width: 264px;
    height: 371px;
    background-color: black;
}

.calculation-card {
    width: 264px;
    height: 371px;
    background-color: black;
    margin-bottom: 15px;
}

.total-card {
    width: 264px;
    height: 491px;
    background-color: black;
}

.card-image-div {
    width: 100%;
    height: 65%;
}

.card-image-div img {
    width: 100%;
    height: 100%;
}

.player-name {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.goals-and-assists {
    color: white;
    text-align: center;
    padding-top: 8px;
}

.card-button {
    align-items: center;
    background-color: #015196;
    border: 2px solid #015196;
    color: #ffff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 36px;
    outline: 0;
    padding: 0px 70px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
}

.card-button:hover {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
}



.btn-div {
    width: 100%;
    text-align: center;
    padding-top: 13px;
}

.footer {
    background-color: #151515;
    padding: 40px 0px;
}

.footer-text {
    color: white;
    text-align: center;
}